body{
  color: #ffffff;
  background-color: #666666;
}

.box{
  width: 200px;
  height 200px
  background-color #fff
  border-radius 50%
  transition: all .3s;
  }

.box:hover
  width 300px
  height 300px
