$color: #f1f1f1;
$background-color: #666;

.c1 {
  font-size: 66px;
  color: $color;
}

.c2 {
  font-size: 22px;
}
.c3 {
  font-size: 24px;
}
.c4 {
  font-size: 28px;
}


.root {
  width: 100px;
  transition: width 2s;
}

body {
  color: $color;
  background-color: $background-color;
}
